.list_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

.list_item_name {
    font-size: larger;
    font-weight: 500;
}

.red {
    font-weight: 500;
    color: red;
}

.green {
    font-weight: 500;
    color: green;
}